.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.35);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    font-family: 'Segoe UI', Roboto, sans-serif;
}

/* MODAL */

.modal {
    background: white;
    width: 420px;
    border-radius: 16px;
    padding: 24px;
    box-shadow: 8px 8px rgba(89,62,28,1);
}

/* HEADER */

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.modal-header h2 {
    font-size: 20px;
    font-weight: 600;
}

.close {
    background: none;
    border: none;
    cursor: pointer;
}

/* FORM */

.form {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

label {
    font-size: 14px;
    color: #6b7280;
}

input,
textarea,
select {

    padding: 10px;

    border-radius: 8px;

    border: 1px solid #e5e7eb;

    font-size: 14px;

}

textarea {
    resize: none;
    height: 80px;
}

/* ACTIONS */

.actions {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 20px;
}

.btn-cancel {
    background: #f1f1f1;
    border: none;
    padding: 10px 14px;
    border-radius: 8px;
    cursor: pointer;
}

.btn-cancel:hover {
    background-color: #ff0000;
    color: #ffff;
    scale: 1;
    transform: translateY(-1px);
}

.btn-save {
    background: #8C7961;
    color: white;
    border: none;
    padding: 10px 14px;
    border-radius: 8px;
    font-weight: 600;
    cursor: pointer;
}

.btn-save:hover {
    background-color: #593E1C;
    color: #ffff;
    scale: 1;
    transform: translateY(-1px);
}

.icon {
    width: 18px;
    height: 18px;
}